# Auto detect text files and perform LF normalization
* text=auto
content/**/*.wav filter=lfs diff=lfs merge=lfs -text
content/**/*.ogg filter=lfs diff=lfs merge=lfs -text
content/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
content/**/*.png filter=lfs diff=lfs merge=lfs -text
content/**/*.ttf filter=lfs diff=lfs merge=lfs -text
content/**/*.otf filter=lfs diff=lfs merge=lfs -text
content/**/*.cur filter=lfs diff=lfs merge=lfs -text
content/**/*.xnb filter=lfs diff=lfs merge=lfs -text
content/**/*.wmv filter=lfs diff=lfs merge=lfs -text
